#timer {
    font-size: 6rem;
    color: var(--text-color);
    background: #2a1a0c;
    padding: 20px 50px;
    margin-bottom: 40px;
    border: 5px inset var(--border-color);
    border-radius: 15px;
    text-shadow: 6px 6px 0 #000;
    font-family: var(--font-title);
    font-weight: bold;
}

.controls {
    margin: 20px 0;
}

#timeInput {
    width: 100px;
    padding: 10px;
    font-size: 1.2rem;
    border: 3px inset var(--border-color);
    border-radius: 10px;
    background-color: #2a1a0c;
    color: var(--text-color);
    text-align: center;
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    margin: 0 5px;
} 