body {
    background-color: #2f1b0c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Cinzel', serif; /* Police antique */
}

.container {
    background: linear-gradient(#4b3422, #2f1b0c);
    border: 8px solid #b88948;
    border-radius: 20px;
    padding: 15px 30px;
    text-align: center;
    box-shadow: inset 0 0 15px #1a0d04, 0 0 20px #000;
    position: relative;
}

#timer {
    font-size: 6rem;
    color: #f5deb3;
    font-family: 'Courier Prime', monospace;
    background: #2a1a0c;
    padding: 20px 50px;
    margin-bottom: 40px;
    border: 5px inset #b88948;
    border-radius: 15px;
    text-shadow: 2px 2px 0 #000;
}

button {
    background: radial-gradient(circle, #d4af37 0%, #a57b2e 80%);
    border: 3px outset #8b5a2b;
    color: #3e2c1c;
    padding: 12px 25px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px #5c3b16;
    transition: all 0.2s ease;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}

#timeInput {
    width: 100px;
    padding: 10px;
    font-size: 1.2rem;
    border: 3px inset #b88948;
    border-radius: 10px;
    background-color: #2a1a0c;
    color: #f5deb3;
    text-align: center;
}

.keys {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    color: #f5deb3;
}

.key {
    background-color: gray;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.combination {
    margin-top: 20px;
}

.combination select {
    width: 100px;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    margin: 5px;
    border: 3px inset #b88948;
    border-radius: 10px;
    background-color: #2a1a0c;
    color: #f5deb3;
}

.combination button {
    font-size: 1.5rem;
    margin-top: 20px;
}

img {
    margin-top: 20px;
    border: 5px groove #8b5a2b;
    border-radius: 12px;
}
