@import 'components/menu.css';
@import 'components/timer.css';
@import 'components/keys.css';
@import 'components/combination.css';
@import 'components/password-popup.css';
@import 'base.css';

/* Styles globaux */
body {
    font-family: 'Courier Prime', monospace;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    background: var(--container-bg);
    border: 8px solid var(--border-color);
    border-radius: 20px;
    padding: 15px 30px;
    text-align: center;
    box-shadow: inset 0 0 15px #1a0d04, 0 0 20px #000;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: var(--font-title);
    color: var(--text-color);
}

button {
    background: radial-gradient(circle, var(--primary-color) 0%, var(--primary-hover) 80%);
    border: 3px outset #8b5a2b;
    color: #3e2c1c;
    padding: 12px 25px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: var(--button-shadow);
    transition: all 0.2s ease;
}

button:hover {
    background: radial-gradient(circle, var(--primary-hover) 0%, var(--primary-color) 80%);
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}

.hidden {
    display: none;
} 

button:disabled {
    background: #999 !important;
    color: #666 !important;
    cursor: not-allowed !important;
    box-shadow: none !important;
    border: 3px solid #666 !important;
    opacity: 0.6;
}

button.selected {
    background: #800020 !important; 
    color: #fff;
    border: 3px solid #fff; 
    box-shadow: 0 0 15px rgba(128, 0, 32, 0.8); 
    transition: all 0.3s ease-in-out; 
}

