<div class="menu-container">
    <button id="menuToggle" title="Paramètres">⋯</button>
    <div id="dropdownMenu" class="dropdown hidden">
        <label class="keys">Maitre Du Jeu</label><br>
        <button id="closeMenu" class="close-button" title="Fermer">×</button>
        <label for="timeInput">Temps :</label>
        <button id="Btn15">Démo</button>
        <button id="Btn60">60 min</button>

        <div class="combination admin-combination">
            <h3 class="keys">Entrez les combinaisons :</h3>
            <select id="adminSelect1"></select>
            <select id="adminSelect2"></select>
            <select id="adminSelect3"></select>
            <select id="adminSelect4"></select>
        </div>

        <div class="combination admin-combination">
            <select id="adminSelect5"></select>
            <select id="adminSelect6"></select>
            <select id="adminSelect7"></select>
            <select id="adminSelect8"></select>
        </div>

        <div class="combination admin-combination">
            <select id="adminSelect9"></select>
            <select id="adminSelect10"></select>
            <select id="adminSelect11"></select>
            <select id="adminSelect12"></select>
        </div>

        <button id="applyTimeBtn">Valider</button>
        <button id="resetBtn">Réinitialiser le timer</button>
    </div>
</div> 