<div class="menu-container">
    <button id="menuToggle" title="Paramètres">⋯</button>
    <div id="dropdownMenu" class="dropdown hidden">
        <label class="keys">Maitre Du Jeu</label><br>
        <button id="closeMenu" class="close-button" title="Fermer">×</button>
        <label for="timeInput">Temps :</label>
        <button id="Btn15">Démo</button>
        <button id="Btn60">60 min</button>
        <div class="combination">
            <h3 class="keys">Entrez les combinaisons :</h3>
            <select id="select1"></select>
            <select id="select2"></select>
            <select id="select3"></select>
            <select id="select4"></select>
        </div>
        <div class="combination">
            <select id="select5"></select>
            <select id="select6"></select>
            <select id="select7"></select>
            <select id="select8"></select>
        </div>
        <div class="combination">
            <select id="select9"></select>
            <select id="select10"></select>
            <select id="select11"></select>
            <select id="select12"></select>
        </div>
        <button id="applyTimeBtn">Valider</button>
    </div>
</div> 