name: Build EscapeBox for Windows

on:
  push:
    branches:
      - main

jobs:
  build-exe:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build with electron-builder
        run: npm run build

      - name: Upload EscapeBox exe
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: EscapeBox-Windows
          path: dist/*.exe


  build-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run build script
        run: |
          chmod +x build.sh
          ./build.sh

      - name: Upload HTML artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-html
          path: dist/index.html

